/* Reset de margens e preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do fundo do Game Boy */
.menu-background {
  background-color: #8CB3F4; /* Azul claro semelhante ao do Game Boy */
  background-image: url('gameboy-frame.jpg'); /* Imagem do quadro do Game Boy */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Altura total da janela de visualização */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Estilo do título */
.title {
  color: black;
  text-align: center;
  padding-top: 20px; /* Espaçamento superior para o título */
}

/* Estilo da imagem */
.image {
  width: 300px;
  height: auto;
  padding-bottom: 500px; /* Espaçamento inferior para a imagem */
}

body {
  font-family: 'Press Start 2P', cursive;
  color: black;
}

a {
  text-align: left; /* Alinha o link à esquerda */
  display: block; /* Define o link como bloco para ocupar a largura total do contêiner */
  margin-left: 720px; /* Adiciona um espaçamento à esquerda para alinhar o link com o texto */
  text-decoration: none; /* Remove sublinhado padrão */
  padding-bottom: 20px;
  margin-top: -100px; /* Ajusta a margem superior para fazer os links subirem na página */
}

a:hover {
  color:gray;
  background-color: transparent;
  text-decoration: 2px 2px grey;
}

.a1 {
  color: orange;
}

.a2 {
  color: red;
}

.a3 {
  color: blue;
}

.a4 {
  color: green;
}
.pokeball {
  width: 20px;
  height: 20px;
  vertical-align: middle; /* Para alinhar a pokebola verticalmente com o texto */
  margin-right: 5px; /* Espaçamento entre a pokebola e o texto */
}

.menu-background2 {
  background-color: #ffffff; /* Azul claro semelhante ao do Game Boy */
  background-image: url('gameboy-frame2.jpg'); /* Imagem do quadro do Game Boy */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Altura total da janela de visualização */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image2 {
  width: 300px;
  height: auto;
  padding-bottom: 200px;
  margin-right: 600px;
}

.title2 {
  color: black;
  text-align: center;
  padding-top: 40px; /* Espaçamento superior para o título */
}


summary {
  all:unset;
  display: block;
  color: black;
  margin-left: 720px; /* Adiciona um espaçamento à esquerda para alinhar o link com o texto */
  margin-top: -100px; /* Ajusta a margem superior para fazer os links subirem na página */
  cursor: pointer;

}

ul{
  padding-bottom: 16px;
  font-size: 0.8rem;
}

li + li {
  margin-top: 0.5rem;
}

table{
  border:1px solid;
  display: block;
  border-spacing: 3px;
  margin-right: 250;
  color:black;
  margin-top:-200;
  
}

table caption{
  border:1px solid;
  font-size: 70%;

}

table th{
  border:1px solid;
}

table td{
  border: 1px solid;
  padding: 10px;
}

